[submodule "_up-n-going"]
	path = _up-n-going
	url = https://github.com/funpress/up-n-going
[submodule "_babel"]
	path = _babel
	url = https://github.com/funpress/babel
[submodule "_mostly-adequate-guide-to-fp"]
	path = _mostly-adequate-guide-to-fp
	url = https://github.com/funpress/mostly-adequate-guide-to-fp
